body {	
	max-width: 60rem;
	padding: 1rem;
	margin: auto;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

a {
	color: #BA2640;
}
p {
    line-height: 34px;
}
h1 {
	text-align: center;
	font-weight: 600;
}

	section > h1 {
		margin-top: 2em;
	
}

h2 {
	color: hsl(35, 50%, 40%);
	font-weight: 600;
	font-size: 120%;
}

ul {
	margin: 0;
	padding-left: 1.8em;
}

strong {
	font-weight: 600;
}

abbr {
	border-bottom: .1em dotted #BA2640;
	cursor: help;
}

input, button {
	font: inherit;
	text-shadow: inherit;
}

button {
	padding: .1em .5em;
	border-radius: .3em;
	background: hsl(80, 80%, 80%);
	background: linear-gradient(hsl(40, 70%, 80%), hsl(40, 70%, 70%));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 1px white inset, 0 .3em .3em -.3em rgba(0,0,0,.3);
}

input {
	margin-top: 8px;
	width: 22em;
	height: 3em;
	padding: .1em 2.3em;
	border: 1px solid #C5C5C5;
}

@keyframes pulsate {
	to {
		box-shadow: .05em .1em .3em rgba(0,0,0,.3) inset, 0 0 .3em .1em #58a;
	}
}

input:focus {
	outline: none;
	border: 1px solid #58a;
	animation: pulsate 2s infinite alternate linear;
	background: hsla(0,0%,100%,.5);
}

header {
	max-width: 50rem;
	margin: 0 auto 2em;
	text-align: center;
	font-size: 150%;
}

	header h1 {
		text-align: center;
		color: #BA2640;
		font-size: 400%;
		line-height: 1;
		font-weight: 700;
	}
	
	header p {
		/* margin: 0; */
	
}
	
		header p a {
			text-decoration: none;
			color: inherit;
		}
	
	.size {
		position: absolute;
		top: 1em;
		right: 1em;
		width: 4em;
		padding: .8em .6em 1em;
		background: #BA2640;
		color: hsl(35, 80%, 94%);
		text-shadow: none;
		text-align: center;
		line-height: 1.1;
		text-indent: -.1em;
		outline: .1em dotted;
		outline-offset: -.3em;
		text-decoration: none;
		border-radius: .15em;
	}
	
	.size:hover {
		background: #A9142E;
	}
	
		.size strong {
			display: block;
			margin-bottom: .1em;
			font-size: 150%;
			line-height: 1;
			font-weight: 900;
			font-style: normal;
		}
		
		.size .amp {
			position: absolute;
			left: 0; right: 0;
			bottom: 0;
			color: hsla(35, 80%, 94%,.3);
			font-size: 350%;
		}
	
	nav {
		margin-top: .5em;
	}
	
	nav a {
    position: relative;    
    display: inline-block;    
    padding: 10px 20px;    
    cursor: pointer;    
    vertical-align: middle;    
    font-size: 16px;    
    margin: 2px;
    font-size: 1rem;    
    color: #fff;    
    text-align: center;    
    text-decoration: none;
    font-weight: 700;    -moz-osx-font-smoothing: grayscale;    -webkit-font-smoothing: antialiased;    -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none;    transition: background .3s ease;    
    border-radius: 3px;    border: 0;    
    background: #BA2640;
		
	}
	
	nav a:hover {   
		background-color: #A9142E;
	}
	
	nav a[href="#download"] {
		  background-color: #6D2243;
		  font-size: 34px;
		  font-weight: 100;
		  margin-top: 2%;
	}
	
	nav a[href="#download"]:hover {
		background-color: #4C0D29;
	}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: hsl(0, 100%, 100%);
	font-size: 80%;
	border-radius: .3em;
	border: 1px solid #BA2640;
}

footer {
	padding: .6em;
	border-top: 1px solid #BA2640;
	margin-top: 1em;
	text-align: center;
	color: #BA2640;
}

pre {
	position: relative;
}

pre::before {
	position: absolute;
	top: 0;
	right: .5em;
	padding: .3em .4em;
	background: #BA2640;
	color: hsl(0, 100%, 100%);
	text-shadow: none;
	font: bold 100%/1 Baskerville, Palatino Linotype, Palatino, serif;
}

pre.language-markup::before {
	content: "HTML";
}

pre.language-javascript::before {
	content: "JS";
}

table {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

th {
	font-size: 75%;
}

td {
	vertical-align: top;
	border: 1px solid rgba(0,0,0,.1);
	padding: 1em;
}

:not(pre) > code[class*="language-"] {
	background: none;
	padding: 4px;
}

.twitter-share-button {
	position: absolute;
	top: 1em;
	left: 1em;
}

#carbonads {
	position: absolute;
	top: 100%;
	top: calc(100vh - 15em);
	right: 1em;
	max-width: 10em;
	max-width: -webkit-min-content;
	max-width: min-content;
	font-size: 75%;
}
	
	#carbonads a {
		text-decoration: none;
		color: inherit;
	}
	
	#carbonads img {
		display: block;
	}